* {
    font-family: 'Noto Sans', sans-serif;
}

.wrapper {
    width: 70%;
    max-width: 960px;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 20px;
    color: #fff;
}

li {
    list-style: none;
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

.section1,
.section2,
.section3 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
    /*border: 2px dotted red;*/
}

.section1 {
    background-color: #1F2937;
}

.section2 {
    background-color: #fff;
    padding: 10px 0 60px 0;
}

.section3 {
    background-color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    /* border: 2px dotted blue; */
}

.examples,
.call-to-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*HERO SECTION*/
h1 {
    color: #F9FAF8;
    padding-bottom: 0px;
    font-size: 48px;
    margin: 0 0;
}

.hero-left {
    width: 50%;
    padding: 0 0;
    margin: 0;
    /* border: 2px dotted green; */
}

.subtext-hero {
    color: #fff;
    padding: 10px 0;
}

button {
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 5px 30px;
    margin: 0;
    text-wrap: nowrap;
    background-color: #3882F6;
}

.hero-right {
    width: 50%;
    margin: 0 0;
    /* border: 2px dotted red; */
}

.hero-right img {
    width: 100%;
    object-fit: cover;
}

/*EXAMPLES SECTION*/

h2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.item {
    text-align: center;
    width: 150px;
}

.item img {
    width: 150px;
    height: 150px;
    border: 4px solid ;
    border-radius: 30px;
    object-fit: cover;
}

.description {
    font-weight: 100;
    line-height: 0.9rem;
    font-size: 0.8rem;
}

.subtext-img {
    padding-top: 10px;
}

/*QUOTE SECTION*/

.quote {
    display: flex;
    flex-direction: column;
    padding: 20px 80px 20px 80px;
    align-items: center;
}

.quotation {
    font-size: 26px;
    font-weight: 100;
    font-style: italic;
    line-height: 36px;
}

.citation {
    align-self: flex-end;
    font-weight: 600;
    padding: 10px 40px 0 0; 
}

.action-title {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 0px;
}

.call-to-action {
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    color: #fff;
    padding: 30px 80px;
    gap: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #fff;
    padding: 20px 0;
}