* {
    font-family: 'Noto Sans', sans-serif;
}

.wrapper {
    width: 70%;
}

.header {
    background-color: rgb(33, 45, 59);
    display: flex;
    justify-content: center;
}

.logo{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 20px;
    color: #fff;
}

li {
    list-style: none;
    font-size: 14px;
    font-weight: 300;
}

.section1,
.section2,
.section3 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
    /*border: 2px dotted red;*/
}

.section1 {
    background-color: rgb(33, 45, 59);
}

.section2 {
    background-color: #fff;
}

.section3 {
    background-color: rgb(233, 236, 240);
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    border: 2px dotted blue;
}

.examples,
.call-to-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*HERO SECTION*/
h1 {
    color: #fff;
    padding-bottom: 0px;
    border: 2px dotted red;
    margin: 0 0;
}

.hero-left {
    flex: 1 1 auto;
    width: 50%;
    padding: 0 0;
    margin: 0;
    border: 2px dotted green;
}

.subtext-hero {
    color: #fff;
    padding: 10px 0;
}

button {
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 5px 30px;
    margin: 0;
    text-wrap: nowrap;
    background-color: rgb(60, 139, 250);;
}

.hero-right {
    width: 50%;
    flex: 1 1 auto;
    object-fit: contain;
    border: 2px dotted red;
}

/*EXAMPLES SECTION*/
.item {
    text-align: center;
    width: 150px;
}

.item img {
    width: 150px;
    height: 150px;
    border: 4px solid ;
    border-radius: 30px;
    object-fit: cover;
}

.description {
    font-weight: 100;
    line-height: 0.9rem;
    font-size: 0.8rem;
}

.subtext-img {
    padding-top: 10px;
}

/*QUOTE SECTION*/

.quote {
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
}

.quotation {
    font-size: 26px;
    font-weight: 100;
    font-style: italic;
    line-height: 1.8rem;
}

.citation {
    align-self: flex-end;
    font-weight: 600;
    padding-top: 10px; 
}

.action-title {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 0px;
}

.call-to-action {
    display: flex;
    background-color: rgb(60, 139, 250);
    border-radius: 10px;
    color: #fff;
    padding: 30px 80px;
    gap: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: rgb(9, 30, 53);
    color: #fff;
    padding: 20px 0;
}